*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1{
    color: #fff;
    text-align: center;
}
body{   
    background-color: rgb(27,27,27);
    font-family: serif;
}


#container{
    margin: 0 auto;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(225px,1fr));
    gap: 20px;
}


.card{
    line-height: 1.5;
    font-size: 0.9rem;
    margin: 10px 20px;
    background-color: #fff;
    padding: 15px; 
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.7);
    min-height: 240px;
}

.card p{
    margin-bottom: 5px;
}

.card h4{
    font-size: 1rem;
}

